* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    
    font-family: Arial, Helvetica, sans-serif;
    line-height: 2;
    width: 50%;
    
    text-align: center;
}

header {
    color: maroon;
    background-color: darkslategray;
}